<div class="counter-wrapper">
  <div class="counter-numbers days">
    <span class="num-text">{{ date.days }}</span>
    <span class="title">дней</span>
    <svg height="115" width="115" class="counter-stroke days" id="stroke-days">
      <circle cx="57.5" cy="57.5" r="55" [attr.stroke-dasharray]="dasharray" [attr.stroke-dashoffset]="dashoffset" />
    </svg>
  </div>
  <div class="counter-numbers hours">
    <span class="num-text">{{ date.hours }}</span>
    <span class="title">часов</span>
    <svg height="115" width="115" class="counter-stroke hours" id="stroke-hours">
      <circle cx="57.5" cy="57.5" r="55" [attr.stroke-dasharray]="dasharray" [attr.stroke-dashoffset]="dashoffset" />
    </svg>
  </div>
  <div class="counter-numbers minutes">
    <span class="num-text">{{ date.minutes }}</span>
    <span class="title">минут</span>
    <svg height="115" width="115" class="counter-stroke minutes" id="stroke-minutes">
      <circle cx="57.5" cy="57.5" r="55" [attr.stroke-dasharray]="dasharray" [attr.stroke-dashoffset]="dashoffset" />
    </svg>
  </div>
  <div class="counter-numbers seconds">
    <span class="num-text">{{ date.seconds }}</span>
    <span class="title">секунд</span>
    <svg height="115" width="115" class="counter-stroke seconds" id="stroke-seconds">
      <circle cx="57.5" cy="57.5" r="55" [attr.stroke-dasharray]="dasharray" [attr.stroke-dashoffset]="dashoffset" />
    </svg>
  </div>
</div>
