<div class="advantages-wrapper">
  <h2>ПРЕИМУЩЕСТВА</h2>
  <div class="title-description">
    We are working with both individuals and businesses from all over the globe <br>
    to create awesome websites and applications.
  </div>
  <app-callback-btn></app-callback-btn>
  <div class="blocks">
    <div class="block first">
      <svg class="icon" viewBox="0 0 202 202">
        <use href="#drone"></use>
      </svg>
      <h5 class="title"компактный></h5>
      <p> Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit, sed diam nonummy nibh.
      </p>
    </div>
    <div class="block second">
      <h5 class="title">удобно хранить</h5>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      </p>
    </div>
    <div class="block third">
      <h5 class="title">
        простой в <br>
        управлении
      </h5>
      <p>At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
    </div>
    <div class="block fourth">
      <h5 class="title">full hd качество</h5>
      <p>
        Et harum quidem rerum est et expedita distinctio. Nam libero tempore.
      </p>
    </div>
  </div>
</div>
