<div class="advantages-wrapper">
  <h2>{{title}}</h2>
  <div class="title-description">{{subTitle}}</div>
  <app-callback-btn></app-callback-btn>
  <div class="blocks">
    <div class="block first">
      <svg class="icon" viewBox="0 0 164 164">
        <use href="#drone"></use>
      </svg>
      <h5 class="title">компактный</h5>
      <p> Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit, sed diam nonummy nibh.
      </p>
    </div>
    <div class="block second">
      <svg class="icon" viewBox="0 0 139 120">
        <use href="#case"></use>
      </svg>
      <h5 class="title">удобно хранить</h5>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      </p>
    </div>
    <div class="block third">
      <svg class="icon" viewBox="0 0 147 147">
        <use href="#remote-control"></use>
      </svg>
      <h5 class="title">
        простой в <br>
        управлении
      </h5>
      <p>At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
    </div>
    <div class="block fourth">
      <svg class="icon" viewBox="0 0 134 125">
        <use href="#camera"></use>
      </svg>
      <h5 class="title">full hd качество</h5>
      <p>
        Et harum quidem rerum est et expedita distinctio. Nam libero tempore.
      </p>
    </div>
  </div>
</div>
