@import "../../../styles/shared.less";

button {
  background-color: #ff3232;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  height: 66px;
  outline: none;
  padding: 0 29px;
  position: absolute;
  left: 0;
  top: 113px;

  transition: all 0.2s linear;

  &:hover {
    background: #d92b2b;
  }
  @media screen and (max-width: @desktopBreak) {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
  }
}
