<div class="review-wrapper">
  <h2>{{title}}</h2>
  <div class="rectangle rectangle-1"></div>
  <div class="rectangle rectangle-2"></div>
  <div class="rectangle rectangle-3"></div>
  <div class="rectangle rectangle-4"></div>
  <div class="rectangle-wrapper">
    <div class="rectangle rectangle-5"></div>
  </div>
  <div class="inner-wrapper">
    <div class="block"><img [src]="imagesSrc[0]" alt="review"></div>
    <div class="block"><img [src]="imagesSrc[1]" alt="review"></div>
    <div class="block"><img [src]="imagesSrc[2]" alt="review"></div>
  </div>
</div>
