h1, h2, h3, h4, h5, p, input, button {
  border: none;
  margin: 0;
  padding: 0;
}

h2,
.mat-typography h2 {
  color: #2b2f33;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 100px 0 22px;
  position: relative;

  &:before {
    background-color: #cfcfcf;
    content: '';
    bottom: 0;
    left: 50%;
    height: 4px;
    transform: translate(-50%, 0);
    position: absolute;
    width: 150px;
  }
}

.title-description {
  color: #393939;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 27px;
  text-align: center;
}
