.form-wrapper {
  background-color: #ffbd00;
  height: 790px;
  text-align: center;

  h2,
  .title-description {
    color: #ffffff;
    &::before {
      background-color: #ffffff;
    }
  }

  form::ng-deep {
    display: block;
    margin: 0 auto;
    width: 582px;

    .input-wrapper {
      width: 100%;
    }

    .input {
      display: block;
      color: #393939;
      font-size: 18px;
      outline: none;
      width: 100%;
    }

    .mat-form-field-wrapper {
      border-radius: 5px;
      box-sizing: border-box;
      background-color: #ffffff;
      margin-top: 30px;
      padding: 0 26px;
      height: 65px;
      width: 100%;
    }

    .mat-form-field-label {
      color: #b6b6b6;
      font-size: 18px;
    }


    .mat-form-field-underline {
      display: none;
    }

    .button {
      background-color: #ff3232;
      display: block;
      margin: 0 auto;
      height: 86px;
      width: 376px;
    }
  }
}
