<div class="order-wrapper">
  <h2>{{title}}</h2>
  <div class="title-description">{{subTitle}}</div>
  <svg class="map" fill="#7c7c7c" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <use href="#map" />
  </svg>
  <div class="icons">
    <div class="block">
      <svg class="icon">
        <use href="#circle"/>
        <use class="inner-icon icon-form" href="#form"/>
      </svg>
      <div class="title">заявка <br> на сайте</div>
    </div>
    <div class="block">
      <svg class="icon">
        <use href="#circle"/>
        <use class="inner-icon icon-support" href="#support"/>
      </svg>
      <div class="title">звонок <br> менеджера</div>
    </div>
    <div class="block">
      <svg class="icon">
        <use href="#circle"/>
        <use class="inner-icon icon-box" href="#box"/>
      </svg>
      <div class="title">подтверждение <br> заказа</div>
    </div>
    <div class="block">
      <svg class="icon">
        <use href="#circle"/>
        <use class="inner-icon icon-car" href="#car"/>
      </svg>
      <div class="title">доставка</div>
    </div>
    <div class="block">
      <svg class="icon">
        <use href="#circle"/>
        <use class="inner-icon icon-payment" href="#payment"/>
      </svg>
      <div class="title">оплата</div>
    </div>
  </div>
</div>

